main{

    text-align: center;

}

.doctopus{

    margin: 50px;
    padding: 25px;
    border-radius: 4%;

    background-color: #00B4D8;

}

.recherche{

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;

    padding: 15px;
    border-radius: 4%;

    background-color: #00B4D8;

}

.btn{

    border-color: black;

}