main{

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

html{

    background-color: #F6FBFF;
}

body{

    background-color: #F6FBFF;

}

.doctopus{

    margin: 40px;
    padding: 25px;
    border-radius: 0.5cm;

    background-color: #00B4D8;

    text-align: center;

}

.recherche{

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;

    padding: 15px;
    border-radius: 0.5cm;

    background-color: #00B4D8;

    text-align: center;

}

#prout{

    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-color: black;
    color: black;
    text-align: center;

    background-color: #F6FBFF;

    border-radius: 0.3cm;
    box-shadow: none;

}

.bobby{

    background-color: #F6FBFF;

    border-color: #0077B6;
    color: #0077B6;
    border-radius: 0.2cm;

    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

#bouton_recherche{

    margin: 10px;
    margin-left: 0px;

    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-color: black;
    border-radius: 0.3cm;

    background-color: #F6FBFF;

    color: black;
    text-align: center;

    box-shadow: none;

}

.container-fluid{

    margin-top: 10px;

}

#boumit{

    background-color: #00B4D8;

    margin: 10px;
    margin-left: 0px;

    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-color: black;
    border-radius: 0.3cm;

}

.ligne_form{

    margin-top: 10px;
    margin-bottom: 5px;

}

.card{

    margin-top: 10px;
    margin-bottom: 5px;

}